img{
    width: 300px;
    height: 200px;
}

.container {
    margin: 0% auto;
    background-color: lightgrey;

}

.card{
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 10px darkgray;

}